<header>
    <ul class="nav nav-fills nav-fill bg-success p-3">
    <nav class="mx-2">
        <a href="/" class="text-light fw-bold my-4" style="text-decoration: none">Cargar producto</a>
        <a href="/productos" class="text-light fw-bold mx-4" style="text-decoration: none">Ver lista de productos</a>
    </nav>
    </ul>
</header>